extends base

block meta
  meta(name='description', content=article.intro)
  meta(name='author', content='edgebet.net')
  meta(name='image', content='http://blog.edgebet.net/static/img/#{article.image}')
  meta(property='author', content='edgebet.net')
  meta(property='og:title', content=article.title)
  meta(property='og:type', content='article')
  meta(property='og:image', content='http://blog.edgebet.net/static/img/#{article.image}')
  meta(property='og:url', content=url)
  meta(property='og:description', content=article.intro)
block links
  link(rel="stylesheet", href="/static/css/social-buttons.css")
block title
  | #{article.title} - Inside Edgebet

block content
  .container
    .row
      .col.s10.push-s1
        article
          p.blue-grey-text
            i.material-icons av_timer
            | A #{article.minutesRead} minute read by #{article.author}
          h3
            block articleTitle
          .social-sharing.is-large(data-permalink=url)
            a.share-facebook(target='_blank', href="http://www.facebook.com/sharer.php?u=#{url}")
              span.icon.icon-facebook
              span.share-title Share
              span.share-count 0
          block articleContent
    .row
      .col.s10.push-s1
        .social-sharing.is-large(data-permalink=url)
          a.share-facebook(target='_blank', href="http://www.facebook.com/sharer.php?u=#{url}")
            span.icon.icon-facebook
            span.share-title Share
            span.share-count 0
    .row
      .col.s10.push-s1
        #spot-im-frame-inpage(data-post-id=article.id)

block append scripts
  script.
    !function(t,e,n){
      function a(t){var  a=e.createElement("script");a.type="text/javascript" ,a.async=!0,a.src=("https:"===e.location.protocol?"https":"http")+":"+n,(t||e.body||e.head).appendChild(a)}function o(){var  t=e.getElementsByTagName("script"),n=t[t.length-1];return n.parentNode} var  p=o();t.spotId="sp_2gBQOBIo",t.parentElement=p,a(p)}(window.SPOTIM={},document,"//www.spot.im/launcher/bundle.js");
  script.
    $(document).ready(function() {
      analytics.track('Viewed article', {
        article: '#{article.title}'
      });
    });
  script(type='text/javascript', src='/static/js/social-buttons.js')

