mixin articleMixin(title, intro, slug, author, image, alt, minutes)
  .col.s12
      .card.large
        .card-image
          a(href='/#{slug}')
            img(src='/static/img/#{image}')
        .card-content
          h5= title
          p= intro
        .card-action
          a(href='/#{slug}') Read more
          span.right.blue-grey-text
            i.material-icons av_timer
            | #{minutes} minute read by #{author}

extends base
block title
  | Edgebet blog

block content
  .container
    .row
      .col.s10.push-s1
        each article, slug in articles
          +articleMixin(article.title, article.intro, slug, article.author, article.image, article.alt, article.minutesRead)

block scripts
  script.
    !function(t, e, n) {
    console.log(t, e, n)
      function a(t) {
          var a = e.createElement("script");
          a.type = "text/javascript", a.async = !1, a.src = ("https:" === e.location.protocol ? "https" : "http") + ":" + n, (t || e.body || e.head).appendChild(a)
          console.log(a)
      }
      function o() {
          var t = e.getElementsByTagName("script"),
              n = t[t.length - 1];
          return n.parentNode
      }
      var p = o();
      t.spotId = "sp_hET9smPK", t.parentElement = p, a(p)
    }
    (window.SPOTIM = {}, document, "//www.spot.im/launcher/bundle.js");
  script.
    $(document).ready(function() {
      analytics.track('Viewed main page');
    });
